.hide {
  display: none;
}

body {
  color: #8a8a8a;
}

.primary-background {
  background-color: #000;
}

.secondary-background {
  background-color: #432E41;
}

.main-navigation {
  clear: none;
}

header.site-header {
  width: 100%;
}

header.site-header .header-row {
  max-width: none;
}

@media screen and (max-width: 1023px) {
  header.site-header .logo img {
    display: block;
    margin: 0em auto 2em;
  }
}

header.site-header .button {
  font-weight: 600;
  padding: 0.75em 1.5em;
}

header.site-header ul li {
  display: inline;
  list-style: none;
}

header.site-header hr {
  border-bottom-width: 2px;
}

header.site-header ul.top-nav {
  margin: -10px 0 10px;
}

header.site-header ul.top-nav li {
  font-size: .8125rem;
}

header.site-header ul.top-nav li a {
  color: #000;
}

header.site-header ul.top-nav.social {
  margin-top: -7px;
}

header.site-header ul.top-nav.social li {
  margin-right: .725em;
  font-size: .975rem;
}

header.site-header ul.top-nav.social li:last-of-type {
  margin-right: 0;
}

header.site-header ul.main-nav {
  margin: 0;
  position: relative;
}

header.site-header ul.main-nav > li {
  padding: 0.25rem 2rem;
  font-size: 20px;
  position: relative;
}

header.site-header ul.main-nav > li:hover {
  background-color: #e6e6e6;
}

header.site-header ul.main-nav > li.menu-item-has-children:hover ul.sub-menu {
  opacity: 1;
  z-index: 700;
}

header.site-header ul.main-nav > li.menu-item-has-children .sub-menu a:after {
  display: none;
}

header.site-header ul.main-nav > li a {
  color: #432E41;
}

header.site-header ul.main-nav > li:last-of-type {
  margin-right: 0;
}

header.site-header ul.sub-menu {
  z-index: -1;
  width: 213px;
  background-color: #e6e6e6;
  padding: 5px 6px 6px;
  position: absolute;
  left: 0;
  top: 46px;
  margin: 0;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

header.site-header ul.sub-menu li {
  display: block;
  font-size: 1rem;
}

header.site-header ul.sub-menu li a {
  color: #432E41;
  font-weight: 300;
  display: block;
  padding: 4px 2px 2px;
}

header.site-header ul.sub-menu li a:hover {
  background-color: #000;
}

header.site-header .menu-top-navigation-container {
  height: 43px;
}

header.site-header ul.contact-nav a {
  font-size: 12px;
  color: #432E41;
}

header.site-header ul.contact-nav > li {
  margin-right: 0;
  padding: 12px 15px;
}

header.site-header ul.contact-nav > li:hover {
  background-color: #e6e6e6;
}

header.site-header .menu-main-navigation-container {
  margin-top: 13px;
}

@media screen and (max-width: 1023px) {
  header.site-header .row > .columns.button-container {
    float: none;
    margin: 0 auto;
  }
}

@media screen and (max-width: 875px) {
  header.site-header .navigation {
    display: none;
  }
}

header.site-header .mobile-top {
  padding: 0 1.25rem;
  padding-top: 20px;
}

@media screen and (min-width: 876px) {
  header.site-header .mobile-top {
    display: none;
  }
}

header.site-header .mobile-top .button {
  padding: 0.75em 1em;
  font-weight: 400;
}

header.site-header .mobile-top .phone {
  float: right;
  color: #000;
  font-weight: #e6e6e6;
  font-size: 1.05rem;
}

header.site-header .mobile-bottom {
  margin: 0 auto;
  display: table;
}

@media screen and (min-width: 876px) {
  header.site-header .mobile-bottom {
    display: none;
  }
}

header.site-header .mobile-bottom .button {
  font-size: larger;
  padding: 0.75em 1.75em;
  margin-bottom: 0;
}

header.site-header .mobile-bottom .button:first-of-type {
  margin-right: 0.75rem;
}

nav.mobile-nav {
  background: #432E41;
  width: 285px;
  padding: 2.25rem 2.75rem 1.65rem 2rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -285px;
  z-index: 10;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

nav.mobile-nav.menu-open {
  left: 0;
}

nav.mobile-nav a {
  color: #fefefe;
}

nav.mobile-nav ul {
  list-style: none;
  margin: 0;
}

nav.mobile-nav ul:first-of-type {
  font-weight: 600;
}

nav.mobile-nav ul li {
  line-height: 1.82;
}

nav.mobile-nav ul li > ul {
  padding-left: .82rem;
}

/*--------------------------HOME GRID--------------------------*/
.home-grid .grid-image {
  position: relative;
}

.home-grid .grid-overlay {
  position: absolute;
  top: 0px;
}

.home-grid .column {
  padding: 10px;
}

/*--------------------------BIO--------------------------*/
/*Blog Styles*/
ul.blog-archive {
  padding-top: 15px;
  list-style: none;
}

ul.blog-archive > li {
  padding: 5px 20px;
}

ul.blog-archive > li a {
  color: #432E41;
}

ul.blog-archive > li a:hover {
  color: #8a8a8a;
}

ul.blog-archive .title {
  background-color: #432E41;
  text-transform: uppercase;
  color: #000;
  padding: 10px 20px;
}

ul.blog-archive .title h5 {
  margin-bottom: 0;
}

.blog-info {
  padding: 10px 0;
  color: #8a8a8a;
}

article.blog {
  margin-top: 20px;
}

.blog-more {
  float: right;
}

.blog-more a {
  color: #8a8a8a;
}

.blog-more:hover {
  color: #cacaca;
}

.date div {
  text-align: center;
  color: #fefefe;
  vertical-align: middle;
}

.date {
  background-color: #000;
}

.month {
  display: block;
  font-size: 22px;
  font-weight: bold;
}

.year {
  display: block;
  font-size: 19px;
}

.month-year {
  padding: 13px 2px;
  line-height: 1.2;
}

.date .day {
  background-color: #fff;
  font-size: 28px;
  font-weight: bold;
  padding: 4px;
}

.entry-header h1.entry-title {
  line-height: 1.2;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  h1.entry-title {
    text-align: center;
  }
  .entry-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .date {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .date {
    width: 85%;
  }
}

/* Medium only */
.post-navigation {
  margin-top: 20px;
}

.nav-links {
  margin-top: 15px;
}

.nav-links div {
  font-size: 16px;
  display: block;
}

.nav-links div a {
  color: #fefefe;
  display: flex;
  align-items: center;
}

.nav-links .button {
  display: flex;
  align-items: center;
}

.nav-next .button {
  justify-content: flex-end;
  text-align: right;
}

.nav-next div {
  background-color: #fff;
}

.nav-next div:hover {
  background-color: #f7f7f7;
}

.nav-next div i {
  padding-left: 10px;
}

div.nav-next-icon, div.nav-previous-icon {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: inherit;
}

div.nav-next-icon {
  float: right;
}

div.nav-previous-icon {
  float: left;
}

.nav-previous .button {
  justify-content: flex-start;
  text-align: left;
}

.nav-previous div i {
  padding-right: 10px;
}

span.edit-link {
  text-align: center;
  display: block;
}

span.edit-link a {
  padding: 10px 60px;
  border: 1px solid #000;
}

/*404 Page*/
.not-found .search-submit {
  font-size: 1rem;
  width: 25%;
  padding: 0.6em 2em;
  box-shadow: none;
  margin-left: 15px;
  border-color: #432E41;
  color: #432E41;
  background-color: #fefefe;
}

.not-found .search-submit:hover {
  box-shadow: none;
  border-color: #000;
  color: #000;
}

.not-found .search-field {
  width: 70%;
  float: left;
}

.not-found .search-form {
  margin-bottom: 30px;
}

.not-found .page-title-404 {
  text-align: center;
}

.not-found .not-found-intro {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 39.9375em) {
  .not-found .search-submit {
    width: 100%;
    margin-left: 0;
  }
  .not-found .search-field {
    width: 100%;
  }
}
