/*--------------------------HOME GRID--------------------------*/
.home-grid {
	.grid-image {
	  position: relative;
	}

	.grid-overlay {
	  position: absolute;
	  top: 0px;
	}

	.column {
		padding: 0;
	}
}


