/*--------------------------HOME GRID--------------------------*/
.home-grid-wrapper {
	background-color: $secondary;
}

.home-grid {
	.grid-image {
	  position: relative;
 	 	-webkit-transition: all 300ms ease-out;
  	-moz-transition: all 300ms ease-out ;
  	-ms-transition: all 300ms ease-out ;
  	-o-transition: all 300ms ease-out ;
  	transition: all 300ms ease-out ;
		-webkit-box-shadow: 3px 3px 15px -4px rgba(15,14,15,1);
		-moz-box-shadow: 3px 3px 15px -4px rgba(15,14,15,1);
		box-shadow: 3px 3px 15px -4px rgba(15,14,15,1);

		&:hover{
			-webkit-box-shadow: 5px 5px 15px -4px rgba(15,14,15,1);
			-moz-box-shadow: 5px 5px 15px -4px rgba(15,14,15,1);
			box-shadow: 5px 5px 15px -4px rgba(15,14,15,1);	
	  }

	  .thumbnail {
	  	margin-bottom: 0;
	  }
	}

	.grid-overlay {
	  position: absolute;
	  top: 0px;
	  padding: 0px 10px;
	}

	.column {
		padding: 10px;
	}
}

/*--------------------------BIO--------------------------*/
.bio {

}
