.main-navigation {
  clear: none;
}

header.site-header {  
  width: 100%;

  .header-row {
    max-width: none;
  }
  .logo img {

    @media screen and (max-width: 1023px) {
      display: block;
      margin: 0em auto 2em;
    }
  }
  .button {
    font-weight: $bold;
    padding: 0.75em 1.5em;
  }
  ul {
    li {
      display: inline;
      list-style: none;
    }
  } 
  hr {
    border-bottom-width: 2px;
  }
  ul.top-nav {
    margin: -10px 0 10px;
    li {
      font-size: .8125rem;
      a {
        color: $primary;
      }
    }
    &.social {
      margin-top: -7px;
      li {
        margin-right: .725em;
        font-size: .975rem;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }


  ul.main-nav {
    margin: 0;
    position: relative;

    > li {
      // margin-right: 3rem;
      padding: 0.25rem 2rem;
      font-size: 20px;

      position: relative;

      &:hover{
        background-color: $gray-light;
      }

      &.menu-item-has-children { 
        &:hover ul.sub-menu {
          opacity: 1;
          z-index: 700;
        }
        // a:after {
        //   font: normal normal normal 23px/1 FontAwesome;
        //   content: "\f0d7";
        //   position: absolute;
        //   left: 45%;
        //   bottom: -5px;
        // }
        .sub-menu a:after {
          display: none;
        }
      }
      a {
        color: $secondary;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  ul.sub-menu {
    z-index: -1;
    width: 213px;
    background-color: $gray-light;
    padding: 5px 6px 6px;
    position: absolute;
    left: 0;
    top: 46px; // 52px on prototype but needs 46px on wp
    margin: 0;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  
    // &:before {
    //   font: normal normal normal 23px/1 FontAwesome;
    //   content: "\f0d7";
    //   position: absolute;
    //   left: 45%;
    //   top: -8px;
    //   color: $white;
    // }
    li {
      display: block;
      font-size: 1rem;
      
      a {
        color: $secondary;
        font-weight: 300;
        display: block;
        padding: 4px 2px 2px; // 2px 2px 4px on prototype but needs 4px 2px 2px on wp
        &:hover {
          background-color: $primary;
        }
      }
      // &:first-of-type {
      //   border-top: .09375rem  solid $primary;
      // }
    }
  }
  .menu-top-navigation-container {
    height: 43px;
  }
  ul.contact-nav {
    a {
      font-size: 12px;
      color: $secondary;
    }
    > li {
      margin-right: 0;
      padding: 12px 15px;

      &:hover{
          background-color: $gray-light;
        }
    }
  }
  .menu-main-navigation-container {
    margin-top: 13px;
  }
  ul.mobile-nav {
  
    li {
      
      a {
        
      }   
    }
  }
  .row > .columns.button-container {
    @media screen and (max-width: 1023px) {
      float: none;
      margin: 0 auto;
    }
  }
  .navigation {
    @media screen and (max-width: 875px) {
      display: none;
    }
  }
  .mobile-top {
    padding: 0 1.25rem;
    padding-top: 20px;
    @media screen and (min-width: 876px) {
      display: none;
    }
    .button {
      padding: 0.75em 1em;
      font-weight: 400;
    }
    .phone {
      float: right;
      color: $primary;
      font-weight: $gray-light;
      font-size: 1.05rem;
    }
  }
  .mobile-bottom {
    margin: 0 auto;
    display: table;
    @media screen and (min-width: 876px) {
      display: none;
    }
    .button {
      font-size: larger;
      padding: 0.75em 1.75em;
      margin-bottom: 0;
      &:first-of-type {
        margin-right: 0.75rem;
      }
    }
  }

}

nav.mobile-nav {
  background: $secondary;
  width: 285px;
  padding: 2.25rem 2.75rem 1.65rem 2rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -285px;
  z-index: 10;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  transition: all 0.35s ease;
  &.menu-open {
    left: 0;
  }
  a {
    color: $white;
  }
  ul {
    list-style: none;
    margin: 0;
    &:first-of-type {
      font-weight: $bold;
    }
    li {
      line-height: 1.82;
      > ul {
        padding-left: .82rem;
      }
    }
  }
}