$primary-color: #000;
$primary: #000;
$secondary: #432E41;
$secondary-color: #432E41;
$gray-light: 			#F5F5F5;
$light-gray: 			#F5F5F5;
$light: #f5f5f5;
$gray-medium: 			#CCCCCC;
$gray-dark:				#404040;
$accent:         	#EB524A;
$accent-pink:         	#EB524A;
$accent-purple:			#432E41;
$accent-teal:			#27D0B9;
$primary-text-color:   	#000;
$secondary-text-color: 	#fff;
$bold: 600;
$white: #fff;

@import 'global';
@import 'navigation';
@import 'home';