$global-font-size: 100%;
$global-width: rem-calc(1100);
$global-lineheight: 1.5;
$primary: #000;
$primary-dark: #fff;
$secondary: #432E41;
$secondary-dark: darken($secondary, 20%);
$gray-light: 			#e6e6e6;
$gray-medium: 			#cacaca;
$gray-dark:				#8a8a8a;
$accent:         	#EB524A;
$accent-dark: #EB524A;
$primary-text-color:   	#000;
$secondary-text-color: 	#fff;
$bold: 600;
$white: #fefefe;
$black: #0a0a0a;
$body-background: $white;
$body-font-color: $black;
$body-font-family: 'Lato', Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;
$print-transparent-backgrounds: true;
$bold: 600;

@import 'global';
@import 'navigation';
@import 'home';
@import 'blog';
@import '404';